TalkingPI.flow
[{"id":"293906cd.0f3d42","type":"ibmiot","z":"c4a13074.87099","name":"Out to Pi"},{"id":"57a4da63.2e7a64","type":"websocket-listener","path":"/ws/audio","wholemsg":"false"},{"id":"78c259c1.f76b98","type":"watson-text-to-speech","z":"c4a13074.87099","name":"","lang":"english","voice":"en-US_MichaelVoice","format":"audio/ogg; codecs=opus","x":811,"y":268,"wires":[["74ad4948.018cb8"]]},{"id":"f0632e7a.e55638","type":"http in","z":"c4a13074.87099","name":"","url":"/audio","method":"get","swaggerDoc":"","x":134.81817626953125,"y":639.3636474609375,"wires":[["8ad91fc4.cfee5"]]},{"id":"38f37e9e.abf0ea","type":"http response","z":"c4a13074.87099","name":"","x":700.3636474609375,"y":639.6363525390625,"wires":[]},{"id":"8ad91fc4.cfee5","type":"template","z":"c4a13074.87099","name":"Create audio playback page","field":"","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>IBM Watson - Text To Speech</title>\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n  \n  <script type=\"text/javascript\">\n    var socketaddy = \"ws://\" + window.location.host + \"/ws/audio\";\n\n    $(document).ready(function(){\n      var output = document.getElementById('output')\n      $('#output').on('playing', function () {\n          $('#text').text('Playing audio.')\n          \n      });\n      $('#output').on('ended', function () {\n          $('#text').text('Waiting for audio...')\n          \n      });\n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){\n          $('#text').text('Waiting for audio...');\n          console.log(\"Connected websocket\");\n      };\n      sock.onerror = function(){ \n          console.log(\"Websocket error\"); \n      };\n      sock.onclose = function () {\n          $('#text').text('Not connected. trying to refresh the page?');\n          window.location.reload();\n      }\n      sock.onmessage = function(evt){\n        console.log(\"Websocket message\", evt); \n        output.src = window.URL.createObjectURL(evt.data);\n        output.play();\n      };\n    });\n  </script>\n  \n</head>\n<body style=\"font-size: 56px; font-family: helvetica; text-align: center; margin-top: 100px;\">\n  <div id=\"text\">Connecting...</div>\n  <audio id=\"output\"></audio>\n</body>\n</html>","x":418.81817626953125,"y":638.3636474609375,"wires":[["38f37e9e.abf0ea"]]},{"id":"74ad4948.018cb8","type":"function","z":"c4a13074.87099","name":"","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":813.8181762695312,"y":354.54547119140625,"wires":[["e5283d2d.22f1e8"]]},{"id":"e5283d2d.22f1e8","type":"websocket out","z":"c4a13074.87099","name":"","server":"57a4da63.2e7a64","client":"","x":855,"y":453,"wires":[]},{"id":"20fa6150.7b172e","type":"ibmiot in","z":"c4a13074.87099","authentication":"boundService","apiKey":"293906cd.0f3d42","inputType":"evt","deviceId":"b827eb1536b3","applicationId":"","deviceType":"RaspPi","eventType":"status","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":true,"x":134,"y":109.5,"wires":[["92bc9cd2.ec4ea8"]]},{"id":"770fe59e.6040c4","type":"template","z":"c4a13074.87099","name":"Make a sentence","field":"payload","fieldType":"msg","format":"handlebars","template":"Ready to take a photo, say watson in three, two, one.","x":506,"y":104,"wires":[["78c259c1.f76b98","51bfa114.e1f4a"]]},{"id":"92bc9cd2.ec4ea8","type":"switch","z":"c4a13074.87099","name":"","property":"payload.d.status","propertyType":"msg","rules":[{"t":"eq","v":"Click","vt":"str"},{"t":"eq","v":"Analyzing","vt":"str"}],"checkall":"true","outputs":2,"x":293,"y":109.5,"wires":[["770fe59e.6040c4"],["d29e5278.9a60d8"]]},{"id":"2ff225b.373c6da","type":"template","z":"c4a13074.87099","name":"Make a sentence","field":"payload","fieldType":"msg","format":"handlebars","template":"Ok {{ payload.demouser }}. That looks like a good one, analyzing it now.","x":581,"y":162,"wires":[["78c259c1.f76b98","51bfa114.e1f4a"]]},{"id":"d29e5278.9a60d8","type":"function","z":"c4a13074.87099","name":"create query","func":"msg.save = msg.payload;\nmsg.payload = \"current\";\nreturn msg;","outputs":1,"noerr":0,"x":212,"y":192,"wires":[["8fa30568.b61708"]]},{"id":"8fa30568.b61708","type":"cloudant in","z":"c4a13074.87099","service":"imgspeaks-0216-cloudantNoSQLDB","cloudant":"","name":"speaker db","database":"speaker","search":"_id_","design":"query","index":"_view/latest-speaker?limit=1&reduce=false&descending=true","x":394,"y":192,"wires":[["2ff225b.373c6da"]]},{"id":"51bfa114.e1f4a","type":"debug","z":"c4a13074.87099","name":"","active":true,"console":"false","complete":"false","x":632,"y":381,"wires":[]},{"id":"10ec44f4.02c973","type":"cloudant in","z":"c4a13074.87099","service":"imgspeaks-0216-cloudantNoSQLDB","cloudant":"","name":"speaker db","database":"speaker","search":"_id_","design":"query","index":"_view/latest-speaker?limit=1&reduce=false&descending=true","x":502,"y":824.5,"wires":[["3485982a.2527a8"]]},{"id":"eba73824.881c9","type":"http in","z":"c4a13074.87099","name":"","url":"/demo","method":"post","swaggerDoc":"","x":108,"y":816.5,"wires":[["c4bd635b.ce1ef"]]},{"id":"ec1298bd.316418","type":"http response","z":"c4a13074.87099","name":"","x":811,"y":899,"wires":[]},{"id":"f094422a.aef278","type":"cloudant out","z":"c4a13074.87099","service":"imgspeaks-0216-cloudantNoSQLDB","cloudant":"","name":"update","database":"speaker","payonly":true,"operation":"insert","x":856,"y":825.5,"wires":[]},{"id":"3485982a.2527a8","type":"function","z":"c4a13074.87099","name":"","func":"if (msg.payload)  {\nmsg.payload.demouser = msg.save.demouser;\n}\nelse {\n    msg.payload = { \"demouser\" : msg.save.demouser, \"_id\" : \"current\" };\n}\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":824.5,"wires":[["f094422a.aef278","ec1298bd.316418"]]},{"id":"30cc7989.5136a6","type":"function","z":"c4a13074.87099","name":"create query","func":"msg.save = msg.payload;\nmsg.payload = \"current\";\nreturn msg;","outputs":1,"noerr":0,"x":332,"y":824.5,"wires":[["10ec44f4.02c973"]]},{"id":"df6f4e75.a4ceb","type":"http in","z":"c4a13074.87099","name":"","url":"/demo","method":"get","swaggerDoc":"","x":113,"y":952.5,"wires":[["e2e26f61.dcb9e8"]]},{"id":"e2e26f61.dcb9e8","type":"template","z":"c4a13074.87099","name":"Create speaker update form","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>IoT Photo Booth demo user setup</title>\n</head>\n<body style=\"font-size: 26px; font-family: helvetica; text-align: left; margin-top: 50px;\">\n<h2>Update presenter name</h2>\n<form action=\"demo\" method=\"post\" enctype>\n  Name: <input type=\"text\" id=\"demouser\" name=\"demouser\"/><br />\n  App Key: <input type=\"text\" id=\"key\" name=\"app_key\" /><br />\n  <input type=\"submit\"/>\n</form>\n</body>\n</html>","x":567,"y":952.5,"wires":[["ec1298bd.316418"]]},{"id":"c4bd635b.ce1ef","type":"switch","z":"c4a13074.87099","name":"","property":"payload.app_key","propertyType":"msg","rules":[{"t":"eq","v":"THIS_APP_KEY","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":197,"y":888.5,"wires":[["30cc7989.5136a6"],["3bb4d60f.c87782"]]},{"id":"3bb4d60f.c87782","type":"template","z":"c4a13074.87099","name":"unauthorized","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Update conflict adding: {{payload.demouser}} !","x":405,"y":895.5,"wires":[["ec1298bd.316418"]]}]
