TalkinPI.flow
[{"id":"e8e0b363.171f5","type":"ibmiot","z":"1b45b257.e4ba4e","name":"Out to Pi"},{"id":"43c5838c.bc3a7c","type":"websocket-listener","path":"/ws/audio","wholemsg":"false"},{"id":"a24e4120.5db1c","type":"watson-text-to-speech","z":"1b45b257.e4ba4e","name":"","lang":"english","voice":"en-US_MichaelVoice","x":749,"y":207,"wires":[["5304469c.acfbb8"]]},{"id":"6429265e.9bd6d8","type":"http in","z":"1b45b257.e4ba4e","name":"","url":"/audio","method":"get","swaggerDoc":"","x":96.81817626953125,"y":597.3636474609375,"wires":[["c1f6c901.3e0938"]]},{"id":"90e2590.f6f1da8","type":"http response","z":"1b45b257.e4ba4e","name":"","x":670.3636474609375,"y":595.6363525390625,"wires":[]},{"id":"c1f6c901.3e0938","type":"template","z":"1b45b257.e4ba4e","name":"Create audio playback page","field":"","fieldType":"msg","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>IBM Watson - Text To Speech</title>\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n  \n  <script type=\"text/javascript\">\n    var socketaddy = \"ws://\" + window.location.host + \"/ws/audio\";\n\n    $(document).ready(function(){\n      var output = document.getElementById('output')\n      $('#output').on('playing', function () {\n          $('#text').text('Playing audio.')\n          \n      });\n      $('#output').on('ended', function () {\n          $('#text').text('Waiting for audio...')\n          \n      });\n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){\n          $('#text').text('Waiting for audio...');\n          console.log(\"Connected websocket\");\n      };\n      sock.onerror = function(){ \n          console.log(\"Websocket error\"); \n      };\n      sock.onclose = function () {\n          $('#text').text('Not connected. trying to refresh the page?');\n          window.location.reload();\n      }\n      sock.onmessage = function(evt){\n        console.log(\"Websocket message\", evt); \n        output.src = window.URL.createObjectURL(evt.data);\n        output.play();\n      };\n    });\n  </script>\n  \n</head>\n<body style=\"font-size: 56px; font-family: helvetica; text-align: center; margin-top: 100px;\">\n  <div id=\"text\">Connecting...</div>\n  <audio id=\"output\"></audio>\n</body>\n</html>","x":371.81817626953125,"y":596.3636474609375,"wires":[["90e2590.f6f1da8"]]},{"id":"5304469c.acfbb8","type":"function","z":"1b45b257.e4ba4e","name":"","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":751.8181762695312,"y":293.54547119140625,"wires":[["20f62341.df09dc"]]},{"id":"75ddd30f.8a222c","type":"http in","z":"1b45b257.e4ba4e","name":"Name through [get] /found","url":"/found","method":"get","swaggerDoc":"","x":133,"y":239,"wires":[["e08ad236.1f753","92e16049.6d1ea"]]},{"id":"2d03d11a.d2fc2e","type":"template","z":"1b45b257.e4ba4e","name":"Make a sentence","field":"payload","fieldType":"msg","format":"handlebars","template":"Hello {{payload.name}}, it is good to see you again.","x":325,"y":312,"wires":[["a24e4120.5db1c","a42083c7.5bdf8"]]},{"id":"a42083c7.5bdf8","type":"debug","z":"1b45b257.e4ba4e","name":"","active":true,"console":"false","complete":"false","x":579,"y":347,"wires":[]},{"id":"ac8ba8db.537458","type":"http response","z":"1b45b257.e4ba4e","name":"","x":491,"y":423,"wires":[]},{"id":"92e16049.6d1ea","type":"debug","z":"1b45b257.e4ba4e","name":"","active":false,"console":"false","complete":"req.headers","x":397,"y":202,"wires":[]},{"id":"e08ad236.1f753","type":"switch","z":"1b45b257.e4ba4e","name":"","property":"req.headers.authorization","propertyType":"msg","rules":[{"t":"eq","v":"Basic dXNlcmlkOmlvdFIwY2t4","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":129,"y":394,"wires":[["315041b9.ceafbe","2d03d11a.d2fc2e","93c5f690.6c3a08"],["8221b134.7dde5"]]},{"id":"315041b9.ceafbe","type":"template","z":"1b45b257.e4ba4e","name":"Accepted","field":"payload","fieldType":"msg","format":"handlebars","template":"Sent Greeting","x":329,"y":394,"wires":[["ac8ba8db.537458"]]},{"id":"8221b134.7dde5","type":"template","z":"1b45b257.e4ba4e","name":"Denied","field":"payload","fieldType":"msg","format":"handlebars","template":"Sorry Charlie!","x":330,"y":452,"wires":[["ac8ba8db.537458"]]},{"id":"20f62341.df09dc","type":"websocket out","z":"1b45b257.e4ba4e","name":"","server":"43c5838c.bc3a7c","client":"","x":793,"y":392,"wires":[]},{"id":"b717e539.48e818","type":"ibmiot out","z":"1b45b257.e4ba4e","authentication":"apiKey","apiKey":"e8e0b363.171f5","outputType":"cmd","deviceId":"b827eb1536b3","deviceType":"RaspberryPi","eventCommandType":"speak","format":"json","data":"payload.msg","name":"IBM IoT","service":"registered","x":417,"y":524,"wires":[]},{"id":"93c5f690.6c3a08","type":"json","z":"1b45b257.e4ba4e","name":"","x":263,"y":524,"wires":[["b717e539.48e818"]]},{"id":"d35db4af.7953d8","type":"ibmiot in","z":"1b45b257.e4ba4e","authentication":"apiKey","apiKey":"e8e0b363.171f5","inputType":"evt","deviceId":"b827eb1536b3","applicationId":"","deviceType":"RaspberryPi","eventType":"status","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":true,"x":72,"y":48.5,"wires":[["4d8fa278.74fb94"]]},{"id":"46d91055.102598","type":"template","z":"1b45b257.e4ba4e","name":"Make a sentence","field":"payload","fieldType":"msg","format":"handlebars","template":"Ready to take a photo, say watson in three, two, one.","x":444,"y":43,"wires":[["a24e4120.5db1c"]]},{"id":"4d8fa278.74fb94","type":"switch","z":"1b45b257.e4ba4e","name":"","property":"payload.d.status","propertyType":"msg","rules":[{"t":"eq","v":"Click","vt":"str"},{"t":"eq","v":"Analyzing","vt":"str"}],"checkall":"true","outputs":2,"x":231,"y":48.5,"wires":[["46d91055.102598"],["c96ef01.f09d29"]]},{"id":"5dcc8692.285c5","type":"template","z":"1b45b257.e4ba4e","name":"Make a sentence","field":"payload","fieldType":"msg","format":"handlebars","template":"Ok {{ payload.demouser }}. That looks like a good one, analyzing it now.","x":519,"y":101,"wires":[["a42083c7.5bdf8","a24e4120.5db1c"]]},{"id":"7243ebfd.7b8f24","type":"cloudant in","z":"1b45b257.e4ba4e","service":"iotspeaks-0216-cloudantNoSQLDB","cloudant":"","name":"speaker db","database":"speaker","search":"_id_","design":"query","index":"_view/latest-speaker?limit=1&reduce=false&descending=true","x":331,"y":685.5,"wires":[["381f369d.affad2"]]},{"id":"805db9f0.36c278","type":"http in","z":"1b45b257.e4ba4e","name":"","url":"/demo","method":"get","swaggerDoc":"","x":98,"y":682.5,"wires":[["2a77e0a8.cc4e38"]]},{"id":"4f528c66.3bfafc","type":"http response","z":"1b45b257.e4ba4e","name":"","x":683,"y":683,"wires":[]},{"id":"89f90a8f.485818","type":"cloudant out","z":"1b45b257.e4ba4e","service":"iotspeaks-0216-cloudantNoSQLDB","cloudant":"","name":"update","database":"speaker","payonly":true,"operation":"insert","x":688,"y":747.5,"wires":[]},{"id":"381f369d.affad2","type":"function","z":"1b45b257.e4ba4e","name":"","func":"if (msg.payload)  {\nmsg.payload.demouser = msg.save.demouser;\n}\nelse {\n    msg.payload = { \"demouser\" : msg.save.demouser, \"_id\" : \"current\" };\n}\nreturn msg;","outputs":1,"noerr":0,"x":506,"y":684.5,"wires":[["89f90a8f.485818","4f528c66.3bfafc"]]},{"id":"2a77e0a8.cc4e38","type":"function","z":"1b45b257.e4ba4e","name":"create query","func":"msg.save = msg.payload;\nmsg.payload = \"current\";\nreturn msg;","outputs":1,"noerr":0,"x":201,"y":765.5,"wires":[["7243ebfd.7b8f24"]]},{"id":"c96ef01.f09d29","type":"function","z":"1b45b257.e4ba4e","name":"create query","func":"msg.save = msg.payload;\nmsg.payload = \"current\";\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":131,"wires":[["810d9a80.b85678"]]},{"id":"810d9a80.b85678","type":"cloudant in","z":"1b45b257.e4ba4e","service":"iotspeaks-0216-cloudantNoSQLDB","cloudant":"","name":"speaker db","database":"speaker","search":"_id_","design":"query","index":"_view/latest-speaker?limit=1&reduce=false&descending=true","x":332,"y":131,"wires":[["5dcc8692.285c5"]]}]
